.nav-wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

/*
 *  Base 
 */
/* body {
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #3648ab;
}

label {
  display: block;
  line-height: 2;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

input,
textarea {
  width: 100%;
  min-width: 300px;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

input {
  border: none;
  border-bottom: 2px solid #ccc;
}

textarea {
  border: 2px solid #ccc;
}

input[type="submit"] {
  display: block;
  max-width: 100px;
  margin: 1.5rem auto 0;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: #fff;
  background-color: #3648ab;
  text-transform: uppercase;
  letter-spacing: 2px;
} */

/*
 *  Utils 
 */
/* .container {
  max-width: 800px;
  margin: 0 auto;
}

.form-container {
  max-width: 400px;
  margin: 3rem auto;
} */

/*
 *  Header 
 */
/* .site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.site-header ul {
  list-style-type: none;
}

.site-header li {
  display: inline-block;
}

.site-header a {
  padding: 1rem 1.5rem;
}

.site-header a:last-of-type {
  padding-right: 0;
} */

/*
 *  Auth Form 
 */
/* .auth-form {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 2rem 3rem;
  max-width: calc(300px + 6rem);
  margin: 3rem 0;
}

.auth-form-field {
  width: 100%;
  display: inline-block;
}

.auth-form-field:not(:last-of-type) {
  margin-bottom: 2rem;
} */

/*
 *  Auth Form 
 */
/* .tweet-form {

}

.tweet-form-item {

} */